* {
    box-sizing: border-box;
    margin: 3px;
    padding: 2px;
}

html {
    background-image: url(Recursos/Fondo/Fondo.jpg);
    background-size: cover;
    margin-left: 50px;
    margin-right: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-attachment: fixed;
}

nav {
    padding: 15px;
}

nav a:hover {
    background-color: #0059ff;
    color: rgb(255, 255, 255);
}

nav a {
    background-color: rgb(255, 255, 255);
    color: #0059ff;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    border: 2px double;
}


.registro form {
    width: 100%;
    margin: 0;
}

.registro label {
    display: block;
    font-weight: bold;
}
.registro .campo{
    width: 40%;
}

.registro input[type="text"],
.registro input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.registro input[type="submit"],
.registro input[type="reset"] {
    background-color: #0059ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5%;
}

.registro input[type="submit"]:hover,
.registro input[type="reset"]:hover {
    background-color: #ffffffb7;
    color: #0059ff;
}

p {
    text-align: justify;
    line-height: 25px;
    margin-bottom: 25px;
}

img {
    width: 100%;
    border-radius: 5%;
}

cite {
    display: block;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.aside {
    border-radius: 40px;
    background-color: rgba(66, 128, 187, 0.555);
    flex: 100%;
    padding: 20px;
}

.section {
    flex: 65%;
    padding: 20px;
}

.section img {
    width: 50%;
    border-radius: 25px;
}

.contactos h2 {
    color: #000000;
    text-align: center;
    margin: 20px 0;
}


.contactos p {
    color: #002fff;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 20px;
}


.contactos ul {
    list-style: inside;
    padding: 0;
    margin: 20px;
}


.contactos a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

footer p {
    font-size: smaller;
    margin: 0px;
}

@media screen and (max-width: 900px) {
    .row {
        flex-direction: column;
    }
}